# Toronto Dataset

Creating a list manually with the given table for each column

In [1]:
PostalCode=['M5G', 'M2H', 'M4B', 'M1J', 'M4G','M4M', 'M1R', 'M9V', 'M9L', 'M5V','M1B', 'M5A']
PostalCode

['M5G',
 'M2H',
 'M4B',
 'M1J',
 'M4G',
 'M4M',
 'M1R',
 'M9V',
 'M9L',
 'M5V',
 'M1B',
 'M5A']

In [2]:
Borough=['Downtown Toronto','North York','East York', 'Scarborough','East York',
        'East Toronto','Scarborough','Etobicoke','North York','Downtown Toronto',
        'Scarborough','Downtown Toronto']
Borough

['Downtown Toronto',
 'North York',
 'East York',
 'Scarborough',
 'East York',
 'East Toronto',
 'Scarborough',
 'Etobicoke',
 'North York',
 'Downtown Toronto',
 'Scarborough',
 'Downtown Toronto']

In [3]:
Neighborhood=['Central Bay Street','Hillcrest Village','Parkview Hil, Woodbine Gardens','Scarborough Village','Leaside',
             'Studio District','Wexford, Maryvale','South Steeles, Silverstone, Humbergate, Jamest','Humber Summit',
              'CN Tower, King and Spadina, Railway Lands',
             'Malvern, Rouge','Regent Park, Harbourfront']
Neighborhood

['Central Bay Street',
 'Hillcrest Village',
 'Parkview Hil, Woodbine Gardens',
 'Scarborough Village',
 'Leaside',
 'Studio District',
 'Wexford, Maryvale',
 'South Steeles, Silverstone, Humbergate, Jamest',
 'Humber Summit',
 'CN Tower, King and Spadina, Railway Lands',
 'Malvern, Rouge',
 'Regent Park, Harbourfront']

Create a dataframe using the above lists and pandas

In [4]:
#pandas library
import pandas as pd
#need to create dictionary using above lists
t_dict={"PostalCode": PostalCode,
        "Borough": Borough,
        "Neighborhood": Neighborhood}

In [5]:
toronto_data=pd.DataFrame(t_dict)
toronto_data

,PostalCode,Borough,Neighborhood
0,M5G,Downtown Toronto,Central Bay Street
1,M2H,North York,Hillcrest Village
2,M4B,East York,"Parkview Hil, Woodbine Gardens"
3,M1J,Scarborough,Scarborough Village
4,M4G,East York,Leaside
5,M4M,East Toronto,Studio District
6,M1R,Scarborough,"Wexford, Maryvale"
7,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest"
8,M9L,North York,Humber Summit
9,M5V,Downtown Toronto,"CN Tower, King and Spadina, Railway Lands"
10,M1B,Scarborough,"Malvern, Rouge"
11,M5A,Downtown Toronto,"Regent Park, Harbourfront"

In [6]:
toronto_data.shape

(12, 3)

In [ ]:
"""import geocoder # import geocoder

# initialize your variable to None
lat_lng_coords = None

# loop until you get the coordinates
while(lat_lng_coords is None):
  g = geocoder.google('{}, Toronto, Ontario'.format(PostalCode))
  lat_lng_coords = g.latlng

latitude = lat_lng_coords[0]
longitude = lat_lng_coords[1]"""

Geocoder was not feasible so used the provided CSV file for latitude & longitude

In [7]:
csv_data = pd.read_csv(r'C:\Users\sr39\Codes\Sample\Geospatial_Coordinates.csv')
csv_data

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [8]:
csv_data.columns

Index(['Postal Code', 'Latitude', 'Longitude'], dtype='object')

In [9]:
csv_data=csv_data.rename(columns={"Postal Code": "PostalCode"})
csv_data.columns

Index(['PostalCode', 'Latitude', 'Longitude'], dtype='object')

In [12]:
#Condition to fetch only for the given postal code
csv_data=csv_data[csv_data['PostalCode'].isin(PostalCode)].reset_index(drop='False')

In [13]:
csv_data

   PostalCode   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1J  43.744734 -79.239476
2         M1R  43.750072 -79.295849
3         M2H  43.803762 -79.363452
4         M4B  43.706397 -79.309937
5         M4G  43.709060 -79.363452
6         M4M  43.659526 -79.340923
7         M5A  43.654260 -79.360636
8         M5G  43.657952 -79.387383
9         M5V  43.628947 -79.394420
10        M9L  43.756303 -79.565963
11        M9V  43.739416 -79.588437

data fetched from csv with respect to PostalCode is in sorted order so lets make toronto_data sorted.

In [14]:
toronto_data=toronto_data.sort_values('PostalCode').reset_index(drop='False')

In [15]:
toronto_data['Latitude']=csv_data['Latitude']
toronto_data['Longitude']=csv_data['Longitude']

In [16]:
toronto_data

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
2,M1R,Scarborough,"Wexford, Maryvale",43.750072,-79.295849
3,M2H,North York,Hillcrest Village,43.803762,-79.363452
4,M4B,East York,"Parkview Hil, Woodbine Gardens",43.706397,-79.309937
5,M4G,East York,Leaside,43.709060,-79.363452
6,M4M,East Toronto,Studio District,43.659526,-79.340923
7,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
8,M5G,Downtown Toronto,Central Bay Street,43.657952,-79.387383
9,M5V,Downtown Toronto,"CN Tower, King and Spadina, Railway Lands",43.628947,-79.394420
10,M9L,North York,Humber Summit,43.756303,-79.565963
11,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest",43.739416,-79.588437